{% extends "zinnia/base.html" %}
{% load i18n tagging_tags comments zinnia_tags %}

{% block title %}{{ object.title }}{% endblock %}

{% block meta-description %}{% if object.excerpt %}{{ object.excerpt|striptags }}{% else %}{{ object.content|striptags|truncatewords:100 }}{% endif %}{% endblock %}

{% block link %}
  <link rel="alternate" type="application/rss+xml" title="{% trans "RSS Feed of discussions on" %} '{{ object.title }}'" href="{% url zinnia_entry_discussion_feed object.slug %}" />
  <link rel="alternate" type="application/rss+xml" title="{% trans "RSS Feed of comments on" %} '{{ object.title }}'" href="{% url zinnia_entry_comment_feed object.slug %}" />
  <link rel="alternate" type="application/rss+xml" title="{% trans "RSS Feed of pingbacks on" %} '{{ object.title }}'" href="{% url zinnia_entry_pingback_feed object.slug %}" />
  <link rel="alternate" type="application/rss+xml" title="{% trans "RSS Feed of trackbacks on" %} '{{ object.title }}'" href="{% url zinnia_entry_trackback_feed object.slug %}" />
{% endblock %}

{% block content %}
<div id="entry-{{ object.pk }}" class="hentry span-16 last">
  {% with object.html_content|safe as object_content %}
  {% include "zinnia/_entry_detail.html" %}
  {% endwith %}
</div>

<div class="entry-footer">
  <p class="entry-tags span-16 last">
    <strong>{% trans "Tags" %}</strong> :
    {% tags_for_object object as tag_list %}
    {% for tag in tag_list %}
    <a href="{% url zinnia_tag_detail tag %}" title="Tag {{ tag }}" rel="tag">
      {{ tag }}
    </a>
    {% empty %}
    <span>{% trans "No tags" %}</span>
    {% endfor %}
  </p>
{% comment %}
  <p class="entry-shorturl span-16 last">
    <strong>{% trans "Short url" %}</strong> :
    {% if object.short_url %}
    <a href="{{ object.short_url }}" title="{{ object.title }}">
      {{ object.short_url }}
    </a>
    {% else %}
    {% trans "Unavailable" %}
    {% endif %}
  </p>
{% endcomment %}
  <p class="entry-comments span-16 last">
    <span class="entry-meta-header">{% trans "Discussions" %}</span> :
    {% with object.comments.count as comment_count %}
    {% if comment_count %}
    <a href="{{ object.get_absolute_url }}#comments" title="{{ object.title }}">
      {% blocktrans count comment_count as comment_count %}{{ comment_count }} comment{% plural %}{{ comment_count }} comments{% endblocktrans %}
    </a>
    {% else %}
      {% if object.comment_enabled %}
      {% trans "No comments yet." %}
    <a href="{{ object.get_absolute_url }}#comments" title="{{ object.title }}">
      {% trans "Be first to comment!" %}
    </a>
      {% else %}
      {% trans "Comments are closed." %}
      {% endif %}
    {% endif %}
    {% endwith %}
    {% with object.pingbacks.count as pingback_count %}
    {% if pingback_count %}
    , <a href="{{ object.get_absolute_url }}#pingbacks" title="{{ object.title }}">
      {% blocktrans count pingback_count as pingback_count %}{{ pingback_count }} pingback{% plural %}{{ pingback_count }} pingbacks{% endblocktrans %}
    </a>
    {% endif %}
    {% endwith %}
    {% with object.trackbacks.count as trackback_count %}
    {% if trackback_count %}
    , <a href="{{ object.get_absolute_url }}#trackbacks" title="{{ object.title }}">
      {% blocktrans count trackback_count as trackback_count %}{{ trackback_count }} trackback{% plural %}{{ trackback_count }} trackbacks{% endblocktrans %}
    </a>
    {% endif %}
    {% endwith %}
  </p>

  {% with object.next_entry as next_entry %}
  {% if next_entry %}
  <div class="entry-next">
    <div class="entry-meta-header">{% trans "Next entry" %}</div>
    <ul>
      <li>
	<a href="{{ next_entry.get_absolute_url }}" title="{{ next_entry.title }}" rel="next">
	  {{ next_entry.title }}
	</a>
      </li>
    </ul>
  </div>
  {% endif %}
  {% endwith %}
  {% with object.previous_entry as previous_entry %}
  {% if previous_entry %}
  <div class="entry-previous">
    <div class="entry-meta-header">{% trans "Previous entry" %}</div>
    <ul>
      <li>
	<a href="{{ previous_entry.get_absolute_url }}" title="{{ previous_entry.title }}" rel="prev">
	  {{ previous_entry.title }}
	</a>
      </li>
    </ul>
  </div>
  {% endif %}
  {% endwith %}
  {% if object.related_published_set %}
  <div class="entry-related">
    <div class="entry-meta-header">{% trans "Related entries" %}</div>
    <ul>
      {% for entry in object.related_published_set %}
      <li>
	<a href="{{ entry.get_absolute_url }}" title="{{ entry.title }}" rel="bookmark">{{ entry.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  <div class="entry-similar">
    <div class="entry-meta-header">{% trans "Similar entries" %}</div>
    {% get_similar_entries 5 %}
  </div>
</div>

<div id="comments" class="span-16 last">
  <div class="entry-meta-header">{% trans "Comments" %}</div>
  {% with object.comments as comment_list %}
  {% if comment_list.count %}
  <ol id="comment-list" class="span-15 last">
    {% for comment in comment_list %}
    <li id="comment_{{ comment.pk }}" class="comment vcard {% cycle box1,box2 %}{% if comment.user in object.authors.all %} post-author{% endif %} span-15 last">
      <div class="span-2">
	<img src="{% get_gravatar comment.email 60 "G" %}" class="gravatar photo" alt="{{ comment.user_name }}"/>
      </div>
      <div class="comment_body span-13 last">
	<div class="span-13 last">
	  {% if comment.url %}
	  <a href="{{ comment.url }}" class="fn url">{{ comment.user_name }}</a>
	  {% else %}
	  {{ comment.user_name }}
	  {% endif %}
	  {% trans "on date" %} {{ comment.submit_date|date:"l d F Y H:i" }}
	</div>
	<div class="span-13 last">
	  <cite>
	    {{ comment.comment }}
	  </cite>
	</div>
      </div>
    </li>
    {% endfor %}
  </ol>
    {% if not object.comment_enabled %}
  <p>{% trans "Comments are closed." %}</p>
    {% endif %}
  {% else %}
    {% if object.comment_enabled %}
  <p>{% trans "No comments yet." %}</p>
    {% else %}
  <p>{% trans "Comments are closed." %}</p>
    {% endif %}
  {% endif %}
  {% endwith %}
</div>

{% comment %}
<div id="pingbacks" class="span-16 last">
  <div class="entry-meta-header">{% trans "Pingbacks" %}</div>
  {% with object.pingbacks as pingback_list %}
  {% if pingback_list.count %}
  <ol id="pingback-list" class="span-15 last">
    {% for pingback in pingback_list %}
    <li id="pingback_{{ pingback.pk }}" class="pingback {% cycle box1,box2 %} span-15 last">
      <div class="pingback_body span-15 last">
	<div class="span-15 last">
	  <a href="{{ pingback.url }}">{{ pingback.user_name }}</a>
	  {% trans "on date" %} {{ pingback.submit_date|date:"l d F Y" }}
	</div>
	<div class="span-15 last">
	  <cite>
	    {{ pingback.comment }}
	  </cite>
	</div>
      </div>
    </li>
    {% endfor %}
  </ol>
  {% endif %}
    {% if object.pingback_enabled %}
  <p>{% trans "Pingbacks are open." %}</p>
    {% else %}
  <p>{% trans "Pingbacks are closed." %}</p>
    {% endif %}
  {% endwith %}
</div>

<div id="trackbacks" class="span-16 last">
  <div class="entry-meta-header">{% trans "Trackbacks" %}</div>
  {% with object.trackbacks as trackback_list %}
  {% if trackback_list.count %}
  <ol id="trackback-list" class="span-15 last">
    {% for trackback in trackback_list %}
    <li id="trackback_{{ trackback.pk }}" class="trackback {% cycle box1,box2 %} span-15 last">
      <div class="trackback_body span-15 last">
	<div class="span-15 last">
	  <a href="{{ trackback.url }}">{{ trackback.user_name }}</a>
	  {% trans "on date" %} {{ trackback.submit_date|date:"l d F Y" }}
	</div>
	<div class="span-15 last">
	  <cite>
	    {{ trackback.comment }}
	  </cite>
	</div>
      </div>
    </li>
    {% endfor %}
  </ol>
  {% endif %}
    {% if object.pingback_enabled %}
  <p><a href="{% url zinnia_entry_trackback object.slug %}" rel="trackback">{% trans "Trackback URL" %}</a></p>
    {% endif %}
  {% endwith %}
</div>
{% endcomment %}

{% if object.comment_enabled %}
<div class="commentForm span-16 last">
  {% render_comment_form for object %}
</div>
{% endif %}

{% endblock %}
