<li{% if active == "home" %} class="active"{% endif %}><a id="navi-home" href="/">Home</a><div class="line"></div></li>
<li{% if active == "demo" %} class="active"{% endif %}><a id="navi-demo" href="/demo/">Demo</a><div class="line"></div></li>
<li{% if active == "download" %} class="active"{% endif %}><a id="navi-download" href="/download/">Download</a><div class="line"></div></li>
<li{% if active == "docs" %} class="active"{% endif %}><a id="navi-docs" href="/docs/">Docs</a><div class="line"></div></li>
<li{% if active == "blog" %} class="active"{% endif %}><a id="navi-blog" href="/blog/">Blog</a><div class="line"></div></li>
<li{% if active == "code" %} class="active"{% endif %}><a id="navi-code" href="/code/">Code</a><div class="line"></div></li>
